name: Daily Fact Post
on:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch: # Allows you to manually trigger it for testing

jobs:
  post-fact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Run Fact Script
        run: node index.mjs
